/****** Object:  Table [dbo].[Client]    Script Date: 24.09.2023 22:46:13 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Client](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](255) NOT NULL,
	[Gender ID] [int] NOT NULL,
	[Phone Number] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Birthday] [date] NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

/****** Object:  Table [dbo].[Device Type]    Script Date: 24.09.2023 22:46:13 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Device Type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Device Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Employee]    Script Date: 24.09.2023 22:46:13 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Post ID] [int] NOT NULL,
	[FIO] [nvarchar](255) NOT NULL,
	[Gender ID] [int] NOT NULL,
	[Phone Number] [nvarchar](12) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Experience] [int] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Gender]    Script Date: 24.09.2023 22:46:13 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Gender](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Manufacturer]    Script Date: 24.09.2023 22:46:13 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Manufacturer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Order]    Script Date: 24.09.2023 22:46:13 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Client ID] [int] NOT NULL,
	[DeviceType ID] [int] NOT NULL,
	[Status ID] [int] NOT NULL,
	[Manufacturer ID] [int] NOT NULL,
	[Employee ID] [int] NOT NULL,
	[Model] [nvarchar](max) NOT NULL,
	[Problem] [nvarchar](max) NOT NULL,
	[AcceptanceDate] [date] NOT NULL,
	[IssueDate] [date] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

/****** Object:  Table [dbo].[Order_Service_Product]    Script Date: 24.09.2023 22:46:13 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Order_Service_Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Order ID] [int] NOT NULL,
	[Service ID] [int] NOT NULL,
	[Product ID] [int] NULL,
 CONSTRAINT [PK_Order_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Post]    Script Date: 24.09.2023 22:46:13 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Post](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Salary] [int] NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Product]    Script Date: 24.09.2023 22:46:13 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductType ID] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Cost] [int] NOT NULL,
	[Quantity In Stock] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

/****** Object:  Table [dbo].[Product Type]    Script Date: 24.09.2023 22:46:13 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Product Type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Product Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Service]    Script Date: 24.09.2023 22:46:13 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Service](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceType ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Cost] [int] NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Service Type]    Script Date: 24.09.2023 22:46:13 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Service Type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Service Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Status]    Script Date: 24.09.2023 22:46:13 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  View [dbo].[Client_View]    Script Date: 24.09.2023 22:46:13 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ID], [FIO], [Gender ID], [Phone Number], [Email], [Address], [Birthday]) VALUES (1, N'Шукшин Игнат Фадеевич', 1, N'+7 (973) 328', N'ignat.ukshin@yandex.ru', N'Малая Бронная ул., 59, Москва, 14459', CAST(N'1983-01-01' AS Date))
INSERT [dbo].[Client] ([ID], [FIO], [Gender ID], [Phone Number], [Email], [Address], [Birthday]) VALUES (2, N'Ялунина Марина Макаровна', 2, N'+7 (994) 915', N'marina65@gmail.com', N'Климентовский пер., 8, Москва, 116655', CAST(N'1964-03-18' AS Date))
INSERT [dbo].[Client] ([ID], [FIO], [Gender ID], [Phone Number], [Email], [Address], [Birthday]) VALUES (3, N'Федосеев Яков Павлович', 1, N'+7 (915) 604', N'yakov.fedoseev@hotmail.com', N'Овчинниковская наб., 68 стр1, Москва, 185128', CAST(N'1972-10-10' AS Date))
SET IDENTITY_INSERT [dbo].[Client] OFF

SET IDENTITY_INSERT [dbo].[Device Type] ON 

INSERT [dbo].[Device Type] ([ID], [Name]) VALUES (1, N'Персональный компьютер')
INSERT [dbo].[Device Type] ([ID], [Name]) VALUES (2, N'Ноутбук')
INSERT [dbo].[Device Type] ([ID], [Name]) VALUES (3, N'Смартфон')
SET IDENTITY_INSERT [dbo].[Device Type] OFF

SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([ID], [Post ID], [FIO], [Gender ID], [Phone Number], [Email], [Address], [Birthday], [Experience]) VALUES (1, 2, N'Добролюбова Ксения Севастьяновна', 2, N'+7 (964) 537', N'kseniya1964@ya.ru', N'Малая Бронная ул., 7, Москва, 19713', CAST(N'1964-10-24' AS Date), 10)
INSERT [dbo].[Employee] ([ID], [Post ID], [FIO], [Gender ID], [Phone Number], [Email], [Address], [Birthday], [Experience]) VALUES (2, 3, N'Ешевский Артем Алексеевич', 1, N'+7 (913) 978', N'artem6128@rambler.ru', N'Климентовский пер., 14, Москва, 110874', CAST(N'1960-05-02' AS Date), 15)
INSERT [dbo].[Employee] ([ID], [Post ID], [FIO], [Gender ID], [Phone Number], [Email], [Address], [Birthday], [Experience]) VALUES (3, 2, N'Кобыльских Егор Савванович', 1, N'+7 (993) 260', N'er11@yandex.ru', N'Мясницкая ул., 49, Москва, 175930', CAST(N'1972-03-05' AS Date), 5)
SET IDENTITY_INSERT [dbo].[Employee] OFF

SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([ID], [Name]) VALUES (1, N'Мужчина   ')
INSERT [dbo].[Gender] ([ID], [Name]) VALUES (2, N'Женщина   ')
SET IDENTITY_INSERT [dbo].[Gender] OFF

SET IDENTITY_INSERT [dbo].[Manufacturer] ON 

INSERT [dbo].[Manufacturer] ([ID], [Name]) VALUES (1, N'Acer')
INSERT [dbo].[Manufacturer] ([ID], [Name]) VALUES (2, N'AOC')
INSERT [dbo].[Manufacturer] ([ID], [Name]) VALUES (3, N'Apple')
SET IDENTITY_INSERT [dbo].[Manufacturer] OFF

SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [Client ID], [DeviceType ID], [Status ID], [Manufacturer ID], [Employee ID], [Model], [Problem], [AcceptanceDate], [IssueDate]) VALUES (1, 19, 1, 4, 22, 5, N'Модель 1', N'Проблема 1', CAST(N'2021-06-14' AS Date), CAST(N'2021-08-12' AS Date))
INSERT [dbo].[Order] ([ID], [Client ID], [DeviceType ID], [Status ID], [Manufacturer ID], [Employee ID], [Model], [Problem], [AcceptanceDate], [IssueDate]) VALUES (2, 8, 1, 4, 3, 5, N'Модель 2', N'Проблема 2', CAST(N'2021-01-24' AS Date), NULL)
INSERT [dbo].[Order] ([ID], [Client ID], [DeviceType ID], [Status ID], [Manufacturer ID], [Employee ID], [Model], [Problem], [AcceptanceDate], [IssueDate]) VALUES (3, 18, 4, 1, 7, 3, N'Модель 3', N'Проблема 3', CAST(N'2021-02-19' AS Date), CAST(N'2021-06-08' AS Date))

SET IDENTITY_INSERT [dbo].[Order] OFF

SET IDENTITY_INSERT [dbo].[Order_Service_Product] ON 

INSERT [dbo].[Order_Service_Product] ([ID], [Order ID], [Service ID], [Product ID]) VALUES (1, 1, 6, NULL)
INSERT [dbo].[Order_Service_Product] ([ID], [Order ID], [Service ID], [Product ID]) VALUES (2, 2, 10, NULL)
INSERT [dbo].[Order_Service_Product] ([ID], [Order ID], [Service ID], [Product ID]) VALUES (3, 3, 8, NULL)

SET IDENTITY_INSERT [dbo].[Order_Service_Product] OFF

SET IDENTITY_INSERT [dbo].[Post] ON 

INSERT [dbo].[Post] ([ID], [Name], [Salary]) VALUES (1, N'Менеджер', 30000)
INSERT [dbo].[Post] ([ID], [Name], [Salary]) VALUES (2, N'Сборщик', 50000)
INSERT [dbo].[Post] ([ID], [Name], [Salary]) VALUES (3, N'Инженер', 70000)
SET IDENTITY_INSERT [dbo].[Post] OFF

SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [ProductType ID], [Name], [Cost], [Quantity In Stock]) VALUES (1, 1, N'Видеокарта Palit GeForce RTX 3060 Dual OC 12GB (NE63060T19K9-190AD)', 33896, 942)
INSERT [dbo].[Product] ([ID], [ProductType ID], [Name], [Cost], [Quantity In Stock]) VALUES (2, 1, N'Видеокарта Sapphire Radeon RX 6600 XT Pulse Gaming OC 8GB (11309-03-20G)', 22875, 621)
INSERT [dbo].[Product] ([ID], [ProductType ID], [Name], [Cost], [Quantity In Stock]) VALUES (3, 1, N'Видеокарта Palit GeForce RTX 3070 Ti GamingPro 8Gb (NED307T019P2-1046A)', 51899, 552)

























SET IDENTITY_INSERT [dbo].[Product] OFF

SET IDENTITY_INSERT [dbo].[Product Type] ON 

INSERT [dbo].[Product Type] ([ID], [Name]) VALUES (1, N'Видеокарта')
INSERT [dbo].[Product Type] ([ID], [Name]) VALUES (2, N'Процессор')
INSERT [dbo].[Product Type] ([ID], [Name]) VALUES (3, N'Материнская плата')
SET IDENTITY_INSERT [dbo].[Product Type] OFF

SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([ID], [ServiceType ID], [Name], [Cost]) VALUES (1, 1, N'Установка Windows 10/11 Home', 11000)
INSERT [dbo].[Service] ([ID], [ServiceType ID], [Name], [Cost]) VALUES (2, 1, N'Установка Office 365', 4000)
INSERT [dbo].[Service] ([ID], [ServiceType ID], [Name], [Cost]) VALUES (3, 3, N'Сборка ПК', 1500)
SET IDENTITY_INSERT [dbo].[Service] OFF

SET IDENTITY_INSERT [dbo].[Service Type] ON 

INSERT [dbo].[Service Type] ([ID], [Name]) VALUES (1, N'Устноавка ПО')
INSERT [dbo].[Service Type] ([ID], [Name]) VALUES (2, N'Настройка ПО')
INSERT [dbo].[Service Type] ([ID], [Name]) VALUES (3, N'Ремонт')
SET IDENTITY_INSERT [dbo].[Service Type] OFF

SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([ID], [Name]) VALUES (1, N'Принят')
INSERT [dbo].[Status] ([ID], [Name]) VALUES (2, N'Ожидает запчасти')
INSERT [dbo].[Status] ([ID], [Name]) VALUES (3, N'Отменён')
SET IDENTITY_INSERT [dbo].[Status] OFF

ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_Gender] FOREIGN KEY([Gender ID])
REFERENCES [dbo].[Gender] ([ID])

ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_Gender]

ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Gender] FOREIGN KEY([Gender ID])
REFERENCES [dbo].[Gender] ([ID])

ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Gender]

ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Post] FOREIGN KEY([Post ID])
REFERENCES [dbo].[Post] ([ID])

ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Post]

ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Client] FOREIGN KEY([Client ID])
REFERENCES [dbo].[Client] ([ID])

ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Client]

ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Device Type] FOREIGN KEY([DeviceType ID])
REFERENCES [dbo].[Device Type] ([ID])

ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Device Type]

ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Employee] FOREIGN KEY([Employee ID])
REFERENCES [dbo].[Employee] ([ID])

ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Employee]

ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Manufacturer] FOREIGN KEY([Manufacturer ID])
REFERENCES [dbo].[Manufacturer] ([ID])

ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Manufacturer]

ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Status] FOREIGN KEY([Status ID])
REFERENCES [dbo].[Status] ([ID])

ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Status]

ALTER TABLE [dbo].[Order_Service_Product]  WITH CHECK ADD  CONSTRAINT [FK_Order_Service_Product_Order] FOREIGN KEY([Order ID])
REFERENCES [dbo].[Order] ([ID])

ALTER TABLE [dbo].[Order_Service_Product] CHECK CONSTRAINT [FK_Order_Service_Product_Order]

ALTER TABLE [dbo].[Order_Service_Product]  WITH CHECK ADD  CONSTRAINT [FK_Order_Service_Product_Product] FOREIGN KEY([Product ID])
REFERENCES [dbo].[Product] ([ID])

ALTER TABLE [dbo].[Order_Service_Product] CHECK CONSTRAINT [FK_Order_Service_Product_Product]

ALTER TABLE [dbo].[Order_Service_Product]  WITH CHECK ADD  CONSTRAINT [FK_Order_Service_Product_Service] FOREIGN KEY([Service ID])
REFERENCES [dbo].[Service] ([ID])

ALTER TABLE [dbo].[Order_Service_Product] CHECK CONSTRAINT [FK_Order_Service_Product_Service]

ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Product Type] FOREIGN KEY([ProductType ID])
REFERENCES [dbo].[Product Type] ([ID])

ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Product Type]

ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_Service Type] FOREIGN KEY([ServiceType ID])
REFERENCES [dbo].[Service Type] ([ID])

ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_Service Type]